@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row justify-content-center mb-4 mt-4">
        <div class="col-9 text-right">
            <a asp-controller="Employees" asp-action="Create" class="btn btn-primary ">
                <i class="fas fa-user-plus"></i>
                New Employee
            </a>
        </div>
        <div class="col text-right">
            <button id="btnDelRow" class="btn btn-danger ">
                <i class="fas fa-exclamation-triangle"></i>
                Delete Row Selected
            </button>
        </div>
    </div>
    <table id="table_Employee" class="justify-content-center table table-striped table-responsive-lg table-responsive-md table-responsive-sm table-responsive-xl table-bordered border-top">
        <thead>
            <tr>
                <th class="sticky-top" scope="col">Name</th>
                <th class="sticky-top" scope="col">Email</th>
                <th class="sticky-top" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
@section Scripts{ 
    <script src="~/js/main-js/Main.js"></script>
}
